.logo{
  height: 70px;
  width: 160px;
  margin-left: 35px;
}
h4{
  width: 100px;
  height: 20px;
}
.profile{
  height: 22px;
  width: 22px;
  margin-bottom: 2px;
}
.body{
  background-size: contain;
}
.wbal{
  margin-left:36% ;
  box-shadow: 3px 4px 4px black;
}
.rfr{
  margin-top: 3%;
  margin-left: 12%;
}
.refrcode{
  margin-left: 15%;
}
.refcode{
  
  box-shadow: 3px 4px 4px black;
}
.cardtext{
  margin-top: 3%;
  margin-left: 15%;
}
.cardtot{
  margin-left: 12%;
}
.rfr1{
  text-decoration: none;
  color: black;
}
.color{
  color: rgb(117, 8, 131);
}
.card{
  margin-top: 2%;
  margin-right: 3%;
  box-shadow: 3px 4px 4px black;
  background-image: linear-gradient(to right,rgb(230, 84, 27),rgb(117, 8, 131));
  width: min-content;
}
ul{
  list-style: none;
}
.Terms{
  margin-left: 12%;
  margin-top: 3%;
   color: rgb(117, 8, 131);
}