.logo{
  height: 10%;
  width: 80%;
}
.profile{
     width: 25px;
     height: 25px;
}
.body{
  background-size: contain;
}
.wbal{
  margin-left:31% ;
  box-shadow: 3px 4px 4px black;
}
.xyz{
  margin-left: 25%;
}
.rfr{
  margin-top: 3%;
  margin-left: 12%;
}
.refrcode{
  margin-left: 10%;
}
.refrcode1{
  margin-left: 25%;
  box-shadow: 3px 4px 4px black;
}
.refcode{
  
  box-shadow: 3px 4px 4px black;
}
.cardtext{
  margin-top: 3%;
  margin-left: 10%;
}
.cardtot{
  margin-left: 10%;
}
.rfr1{
  text-decoration: none;
  color: black;
}
.color{
  color: rgb(117, 8, 131);
  font-size: 20px;
  font-weight: bold;
}
.card1{
  margin-top: 4%;
  margin-right: 3%;
  box-shadow: 3px 4px 4px black;
  background-image: linear-gradient(to right,rgb(230, 84, 27),rgb(117, 8, 131));
  width: min-content;
}
ul{
  list-style: none;
}
.Terms{
  margin-left: 12%;
  margin-top: 3%;
  display: flex;
   color: rgb(117, 8, 131);
}
.icon{
  background-color: rgb(117, 8, 131);
  width: 25%;
}
* {
  box-sizing: border-box;
}
.profname{
  font-size: 20px;
  color: white;
}